a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
input,
button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

#nav-top {
    color: #222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-items {
    padding: 0 20px;
    color: #222 !important;
}

.other-apps {
    color: #70757a;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
}

.other-apps:hover {
    background-color: rgba(60,64,67,0.1);;
    cursor: pointer;
    border-radius: 100%;
}

.user-size {
    font-size: 26px;
}

.input-field input {
    padding: 0;
    border: 0;
    font-size: 16px;
}

.google {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-area {
    padding: 20px;
}

.search-field {
    width: 584px;
    height: 46px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 23px
}

.search-field:hover,
.search-field:focus,
.search-field:active {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.input-field {
    display: flex;
    align-items: center;
    width: 100%;
}

#search {
    width: 100%;
    height: 26px;
    outline: 0;
}

.magnifier,
.voice {
    font-size: 16px;
    margin: 14px;
}

.voice {
    font-size: 1em;
}

.buttons {
    display: flex;
    justify-content: center;
        padding-top: 18px;
}

.lucky,
.google-search {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.offered-language {
    font-family: arial, sans-serif;
    font-size: small;
    line-height: 28px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    /* Footer height */
}

.footer-top {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-items {
    padding: 0 20px;
}

.side-items {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

a.side-items {
    color: #70757a;
}